<div class="row">
  <div class="col-xs-2">
    <span class="text-center">
      3 items left
    </span>
  </div>
  <div class="col-xs-6">
    <div class="btn-group">
      <button class="btn btn-default" [routerLink]="['/']">All</button>
      <button class="btn btn-default" [routerLink]="['/active']">Active</button>
      <button class="btn btn-default" [routerLink]="['/completed']">Completed</button>
    </div>
  </div>

  <div class="col-xs-4">
    <button class="btn btn-primary">
      Clear All Completed
    </button>
  </div>
</div>
